* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 14px !important;
  user-select: none;
  background: #000000;
  position: relative;
  font-family: 'Helvetica';
}
:root {
  --primary: #eee;
  --popup: #090909;
  --menu: #333;
  --hh: 80px;
}

#appWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100vw;
  min-height: 100vh; 
  height: auto;
  background: var(--secondary-gradient);
  scroll-behavior: smooth;
}

#appWrapper {
  position: relative;
}

main > * {
  z-index: 5;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}


.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .4;
  visibility: none;
  pointer-events: none;
  z-index: 350;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}


/*  <===== Miscelaneous =====>  */

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0.232);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(179, 179, 179, 0.302);
}

::selection {
  opacity: 0.8;
  background-color: rgba(9, 9, 9, 0.256);
  border-radius: 20px;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2');
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont.woff2');
}

@font-face {
  font-family: 'HK_wide';
  src: url('/fonts/HK_wide.otf');
}
@font-face {
  font-family: 'sharlee';
  src: url('/fonts/sharlee.woff2');
}
@font-face {
  font-family: 'Polite';
  src: url('/fonts/PoliteType-Regular.ttf');
}