* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
  overflow-x: clip;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 14px !important;
  user-select: none;
  position: relative;
  background: var(--primary);
  font-family: 'Helvetica';
}
:root {
  --primary: #e9e9e9;
  --popup: #eee;
  --menu: #222;
  --text: #111;
  --hh: 60px;
}

#appWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100vw;
  min-height: 100vh; 
  height: auto;
  background: var(--secondary-gradient);
  scroll-behavior: smooth;
}

#appWrapper {
  position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}


.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .8;
  pointer-events: none;
  z-index: 350;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}


/*  <===== Miscelaneous =====>  */

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background: var(--primary);
  padding-right: 3px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #0004;
}
::-webkit-scrollbar-thumb:hover {
  background: #0006;
}

::selection {
  opacity: 0.8;
  background-color: rgba(9, 9, 9, 0.256);
  border-radius: 20px;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2');
}
@font-face {
  font-family: 'HK_wide';
  src: url('/fonts/HK_wide.otf');
}
@font-face {
  font-family: 'sharlee';
  src: url('/fonts/sharlee.woff2');
}
@font-face {
  font-family: 'scto';
  src: url('/fonts/scto-regular.woff');
}
@font-face {
  font-family: 'scto-bold';
  src: url('/fonts/scto-medium.woff');
}