* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 14px !important;
  user-select: none;
  background: #000000;
  position: relative;
  font-family: 'Helvetica';
}
:root {
  --primary: #101010;
  --hh: 80px;
}

#appWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100vw;
  min-height: 100vh; 
  height: auto;
  background: var(--secondary-gradient);
  scroll-behavior: smooth;
}

#appWrapper {
  position: relative;
}

main > * {
  z-index: 5;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}




/*  <===== Miscelaneous =====>  */

::selection {
  opacity: 0.8;
  background-color: rgba(9, 9, 9, 0.256);
  border-radius: 20px;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2');
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont.woff2');
}