.main {
	display: flex;
	justify-content: center;
	background: var(--primary);
	flex-direction: column;
	align-items: center;
	position: relative;
	opacity: 0;
}

/* .main::after {
	content: ";
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	right: 1rem;
	background: var(--menu);
	opacity: 0.3;
} */

.fakeLane {
	width: 100vw;
	height: 0;
	position: fixed;
	bottom: 0;
	z-index: 28;
	background-color: #adadad;
	transform-origin: top;
}

.main .inner {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	color: var(--text);
}

.main section {
	position: relative;
	min-width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main .sec1 {
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 200px;
}

.main .headerLane {
	width: 100%;
	position: relative;
	height: 100%;
	background-color: var(--primary);
	z-index: 10;
}

.main .headerLane hr {
	height: 2px;
	border: none;
	outline: none;
	background: #adadad;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.main .headerLane .scrollHint {
	position: absolute;
	bottom: 0.7em;
	opacity: 0.8;
	line-height: 1;
	right: 3em;
	font-family: "Helvetica";
	font-size: 1em;
	font-weight: 500;
	opacity: 0;
}

.main .sec1 .sinner {
	margin-top: 1em;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid #adadade8;
	position: relative;
	background: var(--primary);
}

.main .imgElm {
	width: 100%;
	max-width: 42vw;
	height: auto;
	position: relative;
	margin-right: 0.5em;
}

.main .tobaccoImg {
	filter: grayscale(0.2);
	width: 100%;
	height: auto;
}

.main .imgElm::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--imgTheme);
	transition: 0.6s;
	transform-origin: left;
}

.main .imgElm.imgLoaded::after {
	scale: 0 1;
}

.main .landerText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	padding: 1rem;
	position: relative;
	opacity: 0.9;
	color: var(--text);
	padding-left: 1.5rem;
}

.main .landerText .asterisk {
	height: 2.6em;
	width: auto;
	margin: 2em 1em 5em 0em;
}

.main .landerText .asterisk svg {
	height: 100%;
	width: auto;
	fill: var(--text);
	opacity: 0.8;
}

.main .landerText h1 {
	scale: 1.04 0.98;
	transform-origin: left;
	text-transform: uppercase;
	font-size: 2.8em;
	font-family: "Helvetica";
	line-height: 1;
	font-weight: 600;
}

.main .landerText h3 {
	line-height: 1;
	margin-top: 1.2em;
	font-family: "Helvetica";
	font-weight: 500;
	opacity: 0.7;
	max-width: 600px;
}

.main .sec2 {
	justify-content: center;
	height: auto;
	flex-direction: column;
	min-height: 0;
	padding: 0;
}

.main .sec2 .content {
	width: fit-content;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text);
	font-family: "Helvetica";
	background-color: #fff9;
	border-radius: 10px;
	box-shadow: 0 0 40px 1px #3331;
	margin: 3em;
}

.conner {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	padding: 5em 4em;
	justify-self: end;
}

.main .sec2 .content .topicTitle {
	font-size: 2.5em;
	font-weight: 600;
	line-height: 1;
	opacity: 0.8;
	margin-bottom: 1.5rem;
}

.main .sec2 .content .topicText {
	font-size: 1.4em;
	line-height: 1.1;
	font-weight: 500;
	opacity: 0.7;
	word-wrap: break-word;
}

.main .sec2 .dimgElm {
	width: 100%;
	max-width: 570px;
	height: min-content;
	border-radius: 10px;
	margin-top: 3rem;
	border: 3px solid transparent;
}

.main .sec2 .diagramImg {
	border: 3px solid #77777776;
	border-radius: inherit;
	width: 100%;
	height: auto;
	filter: grayscale(0.2);
	object-position: top;
}



.main .sec3 {
	justify-content: center;
	height: auto;
	flex-direction: column;
	min-height: 0;
	padding: 0;
	border-top: 2px solid #adadad;
}

.main .sec3 .content {
	width: fit-content;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text);
	font-family: "Helvetica";
	background-color: #fff9;
	border-radius: 10px;
	box-shadow: 0 0 40px 1px #3332;
	margin: 3em;
}

.conner {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	padding: 5em 4em;
	justify-self: end;
}

.main .sec3 .content .topicTitle {
	font-size: 2.5em;
	font-weight: 600;
	line-height: 1;
	opacity: 0.8;
	margin-bottom: 1.5rem;
}

.main .sec3 .content .topicText {
	font-size: 1.4em;
	line-height: 1.1;
	font-weight: 500;
	opacity: 0.7;
	word-wrap: break-word;
}

.main .sec3 .dimgElm {
	width: 100%;
	max-width: 570px;
	height: min-content;
	border-radius: 10px;
	margin-top: 3rem;
	border: 3px solid transparent;
}

.main .sec3 .diagramImg {
	border: 3px solid #77777776;
	border-radius: inherit;
	width: 100%;
	height: auto;
	filter: grayscale(0.2);
	object-position: top;
}
